@model NewsVM
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="news.css">

<section class="page-header">
    <div class="container">
        <h1>Xəbərlər</h1>
        <p>Rəqəmsal marketinq mükəmməlliyində etibarlı tərəfdaşınız</p>
    </div>
</section>


<main class="container">
    <section class="featured-news">
        <h2>Seçilmiş Xəbərlər</h2>
        <div class="news-card featured">
            <div class="news-image">
                <img src="~/@Model.HeaderNews.ImageUrl" alt="Featured news image">
            </div>
            <div class="news-content">
                <span class="category">@Model.HeaderNews.Tag</span>
                <h3>@Model.HeaderNews.Title</h3>
                <p class="date">@Model.HeaderNews.Date</p>
                <p class="excerpt">@Model.HeaderNews.Description</p>
                <button class="read-more" data-id="1">Read More</button>
            </div>  
        </div>
    </section>

    <section class="latest-news">
        <h2>Son Xəbərlər</h2>
        <div class="news-grid">
            
            @foreach (var item in Model.LastNews)
            {
                <div class="news-card">
                    <div class="news-image">
                        <img src="~/@item.ImageUrl" alt="News image">
                    </div>
                    <div class="news-content">
                        <span class="category">@item.Tag</span>
                        <h3>@item.Title</h3>
                        <p class="date">@item.Date</p>
                        <p class="excerpt">@item.Description</p>
                        <a asp-action="detail" asp-route-id="@item.Id"><button class="read-more" data-id="7">Read More</button></a>
                    </div>
                </div>
            }
            
        </div>
    </section>
</main>

